@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300italic,300,600,400italic,600italic,700,700italic,900&subset=latin-ext,latin);
@media screen and (max-width: 2000px) {html,body{font-size:17px;}}
@media screen and (max-width: 1900px) {html,body{font-size:16px;}}
@media screen and (max-width: 1800px) {html,body{font-size:15px;}}
@media screen and (max-width: 1700px) {html,body{font-size:14px;}}
@media screen and (max-width: 1600px) {html,body{font-size:14px;}}
@media screen and (max-width: 1500px) {html,body{font-size:13px;}}
@media screen and (max-width: 1400px) {html,body{font-size:12px;}}
@media screen and (max-width: 1300px) {html,body{font-size:11px;}}
@media screen and (max-width: 1200px) {html,body{font-size:10px;}}
@media screen and (max-width: 1100px) {html,body{font-size:9px;}}
@media screen and (max-width: 1000px) {html,body{font-size:8px;}}
@media screen and (max-width: 900px) {html,body{font-size:7px;}}
@media screen and (max-width: 800px) {html,body{font-size:6px;}}
@media screen and (max-width: 700px) {html,body{font-size:5px;}}
body{
	#overflow-x:hidden;
	#background: linear-gradient(to right, rgba(137,182,24,1) 0%,rgba(210,209,204,1) 80%);
	font-family: 'Titillium Web', sans-serif;
}
#site-place-holder{
    position:relative;
    width:88.23em;
    height:46em;
    margin:0 auto;
}
.txtarea{
    width:99%;
    height:30em;
}
.txtarea-big{
    width:99%;
    height:50em;
}
.akapit{
    display:block;
    text-align:center;
}
#ak1{color:rgb(69,254,3);}
#ak2{color:rgb(233,255,124);}
#ak3{color:rgb(236,6,0);}