body{
	background: linear-gradient(135deg, #f1da36 0%,#fefcea 20%,#fefcea 80%,#f1da36 100%)center center no-repeat; /* W3C */
	width:99%;
	height:99%;
	background-attachment:fixed;
	background-size: cover; 
}
#place-holder{
	width:1000px;
	margin:0 auto;
	position:relative;
}
#url_inp{
	width:800px;
}
.sub{}
#text_inp{
	width:99.7%;
	height:100%;
}
#text_inp_ign{
	width:97%;
	height:380px;
}
#words_div{
	width:990px;
	min-height:200px;
}
#form_div{
	width:990px;
	height:380px;
	margin-top:40px;
	padding-bottom:20px;
}
#inf_div{
	width:990px;
	text-align:center;
	margin:5px 0px;
}
#ignore_div{
	width:220px;
	height:550px;
	position:fixed;
	bottom:10px;
	left:10px;
	#border:1px solid green;
}
#word{
	position:relative;
    display:inline-block;/*ważne!*/
	#margin:0em 0.9em 0.5em 0.1em;
	#margin:0em 1.0em 0.5em 0.0em;
    margin-bottom: 0.5em;
	#line-height:1.5em;
	#border:1px solid black;
}
#numbers{
	position:absolute; 
	font-size: 14px; 
	color: rgb(65,178,0);
	bottom:-1em; 
	right:0px;
/* 	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);  */
}
#freq{color:red;}
#proc{color:rgb(31,82,255)}
#all,#uni,#tag{margin:0 20px;}
#one,#two,#three{color:orange;}
#filtr_inp, #mod_inp, #sort_inp{width:26px; text-align:center;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}