@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300italic,300,600,400italic,600italic,700,700italic,900&subset=latin-ext,latin);
@media screen and (max-width: 2000px) {html,body{font-size:17px;}}
@media screen and (max-width: 1900px) {html,body{font-size:16px;}}
@media screen and (max-width: 1800px) {html,body{font-size:15px;}}
@media screen and (max-width: 1700px) {html,body{font-size:14px;}}
@media screen and (max-width: 1600px) {html,body{font-size:14px;}}
@media screen and (max-width: 1500px) {html,body{font-size:13px;}}
@media screen and (max-width: 1400px) {html,body{font-size:12px;}}
@media screen and (max-width: 1300px) {html,body{font-size:11px;}}
@media screen and (max-width: 1200px) {html,body{font-size:10px;}}
@media screen and (max-width: 1100px) {html,body{font-size:9px;}}
@media screen and (max-width: 1000px) {html,body{font-size:8px;}}
@media screen and (max-width: 900px) {html,body{font-size:7px;}}
@media screen and (max-width: 800px) {html,body{font-size:6px;}}
@media screen and (max-width: 700px) {html,body{font-size:5px;}}
body{
	#overflow-x:hidden;
	#background: linear-gradient(to right, rgba(137,182,24,1) 0%,rgba(210,209,204,1) 80%);
	font-family: 'Titillium Web', sans-serif;
    background:#1b1e1e url('../images/bg.jpg') repeat fixed;
    #color:#1b1e1e;
    #font:normal 120%/2rem Lato,Verdana,Arial,sans-serif;
    #height:100%;
    color: white;
}
#site-place-holder{
    position:relative;
    width:110em;
    height:100%;
    margin:0 auto;
}
.txtarea{
    width:99%;
    height:50em;
    #display:none;
    background: rgba(255,255,255,0.2);
    #color:rgb(255,166,121);
    color:white;
    #color:black;
    padding:0 0.7em;
}
.header{
    text-align:center;
    color:rgb(187,162,255);
    font-size:4em;
    
    position:absolute;
    left:-2.5em;
    top: 1em;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display:none;
}
a.links{
    font-size:2em;
    text-decoration:none;
    #color:rgb(127,162,255);
    margin-right:0.5em;
}
a.links:hover{#color:red;}
a.links:visited{}
.hidden{
    display:none;
}
.hidden_sec{
    display:none;
}
.del_confirm{
    display:none;
}
.right{
    float:right;
}
.bottom{
    padding-left:10em;
}
#setting{
    margin-right:5em;
}
.radio{
    display:none;
}
label{
    padding:0 1em;
    white-space: nowrap;
}
.radio + label{
    color:red;
    white-space: nowrap;
}
.radio:checked  + label{
    color:green;
    white-space: nowrap;
}
/*Neon*/
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
p.neon:nth-child(1){
    display:none;
    text-align:center;
    font-size:4em;
    margin:20px 0 20px 0;
    position:absolute;
    z-index:-1;
    top:70%;
    left:70%;
}
p.neon:nth-child(1){
    color:#BA01FF;
    #color:#ffffff;
    text-shadow: inset 10 10 10px #fff;
    font-family:Vampiro One;
    #-webkit-transition: text-shadow 0.5s;
    #-moz-transition: text-shadow 0.5s;
    #transition: text-shadow 0.5s;
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
}
@-moz-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
                   0 0 10px #fff,
                   0 0 15px #fff,
                   0 0 20px #ff00de,
                   0 0 35px #ff00de,
                   0 0 40px #ff00de,
                   0 0 50px #ff00de,
                   0 0 75px #ff00de;
    }
}
@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
                   0 0 10px #fff,
                   0 0 15px #fff,
                   0 0 20px #ff00de,
                   0 0 35px #ff00de,
                   0 0 40px #ff00de,
                   0 0 50px #ff00de,
                   0 0 75px #ff00de;
    }
}
@keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff,
                   0 0 10px #fff,
                   0 0 15px #fff,
                   0 0 20px #ff00de,
                   0 0 35px #ff00de,
                   0 0 40px #ff00de,
                   0 0 50px #ff00de,
                   0 0 75px #ff00de;
    }
}