@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300italic,300,600,400italic,600italic,700,700italic,900&subset=latin-ext,latin);
@media screen and (max-width: 2000px) {html,body{font-size:17px;}}
@media screen and (max-width: 1900px) {html,body{font-size:16px;}}
@media screen and (max-width: 1800px) {html,body{font-size:15px;}}
@media screen and (max-width: 1700px) {html,body{font-size:14px;}}
@media screen and (max-width: 1600px) {html,body{font-size:14px;}}
@media screen and (max-width: 1500px) {html,body{font-size:13px;}}
@media screen and (max-width: 1400px) {html,body{font-size:12px;}}
@media screen and (max-width: 1300px) {html,body{font-size:11px;}}
@media screen and (max-width: 1200px) {html,body{font-size:10px;}}
@media screen and (max-width: 1100px) {html,body{font-size:9px;}}
@media screen and (max-width: 1000px) {html,body{font-size:8px;}}
@media screen and (max-width: 900px) {html,body{font-size:7px;}}
@media screen and (max-width: 800px) {html,body{font-size:6px;}}
@media screen and (max-width: 700px) {html,body{font-size:5px;}}
body{
	#overflow-x:hidden;
	#background: linear-gradient(to right, rgba(137,182,24,1) 0%,rgba(210,209,204,1) 80%);
	font-family: 'Titillium Web', sans-serif;
}
#site-place-holder{
    position:relative;
    width:110em;
    height:100%;
    margin:0 auto;
}
.txtarea{
    width:99%;
    height:55em;
}
.header{
    text-align:center;
    color:rgb(187,162,255);
    font-size:4em;
    
    position:absolute;
    left:-2.5em;
    top: 1em;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
a.link{
    font-size:2em;
    text-decoration:none;
    color:rgb(127,162,255);
    margin-right:0.5em;
}
a.link:hover{color:red;}
a.link:visited{}
.hidden{
    display:none;
}
.hidden_sec{
    display:none;
}